JAVACMD="/usr/bin/java"
LS_HOME="/usr/share/logstash"
LS_SETTINGS_DIR="{{ logstash_shipper_settings_dir }}"
LS_CONFIG_DIR="{{ logstash_shipper_config_dir }}"
LS_PIDFILE="/var/run/logstash-shipper.pid"
LS_USER="{{  logstash_shipper_user }}"
LS_GROUP="{{ logstash_shipper_group }}"
LS_GC_LOG_FILE="{{ logstash_shipper_log_path }}/gc.log"
LS_OPEN_FILES="16384"
LS_NICE="10"
#SERVICE_NAME="logstash-shipper"
#SERVICE_DESCRIPTION="logstash-shipper"
